TinyMoneyManager.WP71/Service References/DataSynchronizationService/DataSynchronizationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataSynchronizationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:10202/DataSynchronizationService.svc/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:10202/DataSynchronizationService.svc/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:10202/DataSynchronizationService.svc/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TinyMoneyManager.Service" />
      <xsd:import schemaLocation="http://localhost:10202/DataSynchronizationService.svc/?xsd=xsd3" namespace="http://codernet.net" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataSynchronizationService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IDataSynchronizationService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDataSynchronizationService_Restore_InputMessage">
    <wsdl:part name="parameters" element="tns:Restore" />
  </wsdl:message>
  <wsdl:message name="IDataSynchronizationService_Restore_OutputMessage">
    <wsdl:part name="parameters" element="tns:RestoreResponse" />
  </wsdl:message>
  <wsdl:message name="IDataSynchronizationService_Backup_InputMessage">
    <wsdl:part name="parameters" element="tns:Backup" />
  </wsdl:message>
  <wsdl:message name="IDataSynchronizationService_Backup_OutputMessage">
    <wsdl:part name="parameters" element="tns:BackupResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataSynchronizationService">
    <wsdl:operation name="GetData">
      <wsdl:input wsam:Action="http://tempuri.org/IDataSynchronizationService/GetData" message="tns:IDataSynchronizationService_GetData_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IDataSynchronizationService/GetDataResponse" message="tns:IDataSynchronizationService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Restore">
      <wsdl:input wsam:Action="http://tempuri.org/IDataSynchronizationService/Restore" message="tns:IDataSynchronizationService_Restore_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IDataSynchronizationService/RestoreResponse" message="tns:IDataSynchronizationService_Restore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Backup">
      <wsdl:input wsam:Action="http://tempuri.org/IDataSynchronizationService/Backup" message="tns:IDataSynchronizationService_Backup_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IDataSynchronizationService/BackupResponse" message="tns:IDataSynchronizationService_Backup_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataSynchronizationService" type="tns:IDataSynchronizationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IDataSynchronizationService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Restore">
      <soap:operation soapAction="http://tempuri.org/IDataSynchronizationService/Restore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Backup">
      <soap:operation soapAction="http://tempuri.org/IDataSynchronizationService/Backup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataSynchronizationService">
    <wsdl:port name="BasicHttpBinding_IDataSynchronizationService" binding="tns:BasicHttpBinding_IDataSynchronizationService">
      <soap:address location="http://localhost:10202/DataSynchronizationService.svc/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>