TinyMoneyManager/Service References/DataSynchronizationService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10202/DataSynchronizationService.svc/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:10202/DataSynchronizationService.svc/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TinyMoneyManager.Service" />
  <xs:import schemaLocation="http://localhost:10202/DataSynchronizationService.svc/?xsd=xsd3" namespace="http://codernet.net" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Restore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TinyMoneyManager.Service" minOccurs="0" name="option" type="q2:DataSynchronizationActionOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://codernet.net" minOccurs="0" name="RestoreResult" nillable="true" type="q3:DataSynchronizationArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Backup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://codernet.net" minOccurs="0" name="arg" nillable="true" type="q4:DataSynchronizationArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BackupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BackupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>